//
//  Music Library Exporter Helper.xcconfig
//  Music Library Exporter
//
//  Created by Kyle King on 2021-02-05.
//

#include "Config/Common/Sentry.xcconfig"
#include "Config/Common/Swift.xcconfig"

// Deployment
COMBINE_HIDPI_IMAGES = YES
SKIP_INSTALL = YES

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks

// Packaging
INFOPLIST_FILE = Music Library Exporter Helper/Supporting Files/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.kylekingcdn.MusicLibraryExporter.MusicLibraryExporterHelper

// Signing
CODE_SIGN_ENTITLEMENTS = $(MLE_HELPERAPP_CODE_SIGN_ENTITLEMENTS)
CODE_SIGN_IDENTITY_DEBUG = $(MLE_HELPERAPP_CODE_SIGN_IDENTITY_DEBUG)
CODE_SIGN_IDENTITY_RELEASE = $(MLE_HELPERAPP_CODE_SIGN_IDENTITY_RELEASE)
PROVISIONING_PROFILE_SPECIFIER_DEBUG = $(MLE_HELPERAPP_PROVISIONING_PROFILE_SPECIFIER_DEBUG)
PROVISIONING_PROFILE_SPECIFIER_RELEASE = $(MLE_HELPERAPP_PROVISIONING_PROFILE_SPECIFIER_RELEASE)

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

// Apple Clang - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = OUTPUT_DIRECTORY_BOOKMARK_KEY=@\"${OUTPUT_DIRECTORY_BOOKMARK_KEY}\" HELPER_REGISTRATION_ENABLED=$(HELPER_REGISTRATION_ENABLED) SENTRY_DSN=${SENTRY_HELPER_DSN} $(inherited)

// Swift
SWIFT_OBJC_BRIDGING_HEADER = Common/SwiftCompatFix/Bridging-Header.h

// User-Defined
OUTPUT_DIRECTORY_BOOKMARK_KEY = 'OutputDirectoryBookmarkHelper'
