//
//  music-library-exporter.xcconfig
//  Music Library Exporter
//
//  Created by Kyle King on 2021-02-05.
//

// Linking
OTHER_LDFLAGS = -ObjC $(inherited)

// Search Paths
HEADER_SEARCH_PATHS = $(SRCROOT)/3rd/ArgumentParser/ArgumentParser $(inherited)

// Signing
CODE_SIGN_ENTITLEMENTS = $(MLE_CLITOOL_CODE_SIGN_ENTITLEMENTS)
CODE_SIGN_IDENTITY_DEBUG = $(MLE_CLITOOL_CODE_SIGN_IDENTITY_DEBUG)
CODE_SIGN_IDENTITY_RELEASE = $(MLE_CLITOOL_CODE_SIGN_IDENTITY_RELEASE)
PROVISIONING_PROFILE_SPECIFIER_DEBUG = $(MLE_CLITOOL_PROVISIONING_PROFILE_SPECIFIER_DEBUG)
PROVISIONING_PROFILE_SPECIFIER_RELEASE = $(MLE_CLITOOL_PROVISIONING_PROFILE_SPECIFIER_RELEASE)

// User-Defined
SENTRY_ENABLED = 0
MLE_LOG_LEVEL = MLE_LOG_LEVEL_WARNING

// Apple Clang - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = OUTPUT_DIRECTORY_BOOKMARK_KEY=@\"${OUTPUT_DIRECTORY_BOOKMARK_KEY}\" CLI_VERSION=@\"$(CURRENT_PROJECT_VERSION)-$(VERSION_BUILD)\" $(inherited)
